<% include partials/header %>
<title>spy portal</title>

<% if (currentUser.alert != "") { %>

<div class="alert">
	<h2>
		<%= currentUser.alert %>
	</h2>
</div>

<% } %>

<% if (currentUser.paid == false) { %>

<div class="alert">
	<h2>
		<i>Headquarters</i> has still not received your payment. please deliver $10 to Nick ASAP.
	</h2>
</div>

<% } %>

<% if (currentUser.status == "elimPending") { %>

<div class="alert">
	<h2>your assailant has claimed to have eliminated you. please confirm or deny this claim. if you have eliminated your target, please send that confirmation first.</h2>
	<form action="/elimConfirm" , method="POST">
		<input type="checkbox" name="elimConfirmConfirm" required /><label for="elimConfirmConfirm">confirm choice</label>
		<br />
		<button type="submit" name="elimValue" value="confirm">i was eliminated</button>
		<button type="submit" name="elimValue" value="deny">i was NOT eliminated</button>
	</form>
</div>

<% } currentUser.alert = ""; %>

<h1>spy portal</h1>
<div class="content">

	<% if (gameOn == false) { %>
	<h2>the first safety is released. view below.</h2>
	<h2>target information will be released on sunday. please wait.</h2>
	<% } else if (currentUser.status == "alive" || currentUser.status == "elimPending") { %>

	<h2>spy:
		<%= currentUser.name %>
	</h2>
	<h2 style="text-decoration: underline">target:
		<%= currentUser.target.name %>
	</h2>
	<h2>due:
		<%= currentUser.due %>
	</h2>
	<h2>image: </h2>
	<img style="height:30vh" src="<%= " s/" + currentUser.target.id + ".png" %>"/>
	<br />

	<% if (currentUser.elimPing == true) { %>

	<h2>your elimination claim is currently under investigation. if available, please email your video/photo evidence to nicholas.young2019@stgeorges.bc.ca to expedite the confirmation process. otherwise, please wait.</h2>
	<form action="/elimCancel" , method="POST">
		<input type="checkbox" name="cancelConfirm" required /><label for="cancelConfirm">confirm cancel</label>
		<br />
		<button id="elimCancelBtn">cancel elimination</button>
	</form>

	<% } else { %>
	<button id="elimBtn">target eliminated</button>
	<% } %>

	<% } else if (currentUser.status == "eliminated") { %>

	<h2>you have been eliminated.</h2>
	<h3>if there has been a mistake, or if you would like to be revived for a small fee, please contact <i>Headquarters</i> immediately.</h3>

	<% } else { %>

	<h2>there has been an error.</h2>
	<h3>please contact <i>Headquarters</i> immediately with the error code "STATUSERROR"</h3>

	<% } %>

	<div>
		<a  href="https://drive.google.com/file/d/1G1O2KtD6s6cjV_xMg7VP2Jc88atXQ9be/view"><button>spy act</button></a>
		<button id="safetyBtn" href="/">safeties</button>
		<br />
		<a href="/logout"><button>logout</button></a>
	</div>

</div>

<div id="elimModal" class="modal">
	<div class="modal-content" style="margin-top: 25%">
		<span id="elimSpan" class="close" style="font-size: 30px">&times;</span>
		<h2>please confirm your elimination.</h2>
		<form action="/elimPing" , method="POST">
			<button>confirm</button>
		</form>
	</div>
</div>

<div id="safetyModal" class="modal">
	<div class="modal-content">
		<span id="safetySpan" class="close">&times;</span>
		<h2>current safeties</h2>
		<h2>
			May 11 - 19
		</h2>
		<h3>
			4 cans of Heinz value size cans (796ml) stacked on top of each other, carried using latex or rubber gloves. no other cans may be used unless they match or exceed 769ml in volume. cans do not have to be balanced (you may hold them using both hands), but they must be on top of one another. you may tape or glue the cans together, but you may not damage the can in any way as to render it inedible. you may not remove the contents of the can. you are safe while the cans are stacked near you, or while you are holding them stacked AND wearing gloves. you are not safe while the cans are not stacked, or at any point while you are not wearing gloves. both requirements must be fulfilled in order for you to be safe. at the end of the week, drop off your cans in the back of the grad lounge for them to be donated to charity.
		</h3>
		<img style="height: 200px; margin: auto" src="s/cans.jpg" />
	</div>
</div>

<script>
	var safetyModal = document.getElementById('safetyModal');
	var safetyBtn = document.getElementById("safetyBtn");
	var safetySpan = document.getElementById("safetySpan");
	safetyBtn.onclick = function() {
		safetyModal.style.display = "block";
	}
	safetySpan.onclick = function() {
		safetyModal.style.display = "none";
	}
	window.onclick = function(event) {
		if (event.target == safetyModal) {
			safetyModal.style.display = "none";
		}
	}

	var elimModal = document.getElementById('elimModal');
	var elimBtn = document.getElementById("elimBtn");
	var elimSpan = document.getElementById("elimSpan");
	elimBtn.onclick = function() {
		elimModal.style.display = "block";
	}
	elimSpan.onclick = function() {
		elimModal.style.display = "none";
		console.log('ye')
	}
	window.onclick = function(event) {
		if (event.target == elimModal) {
			elimModal.style.display = "none";
		}
	}
</script>
<% include partials/footer %>
